/*-----------------------
  Default elements
  ----------------------- */

* {
    box-sizing: border-box;
}

html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1{
  text-align: center;
}

main {
  width: 95%;
  margin: auto;
}

/*-----------------------
  Datatable elements
  ----------------------- */
table.dataTable { 
  table-layout: fixed;
  width: 100%;
  margin: auto;
}

th {
    background-color: lightgray;
    border: 1px solid black;
}

/*
  dataTable default is flex-direction: reverse, 
  which changes which side of the title the sort buttons
  are on depending on format of contents. The dt-type-date
  class makes all sort icons appear to the left of the title
  while all others show up to the right. It's a mess and
  non-intuitive to have that inconsistent across headers.
  Why did they ever think that was a good idae?
*/
table.dataTable th.dt-type-date div.dt-column-header {
  flex-direction: row;
  text-align: left;
}

table.dataTable tr.filterRow td {
  flex-direction: row;
}

table.dataTable tr.filterRow td input {
  width: 100%;
}

table.dataTable td.dt-type-date {
  text-align: center;
}

td {
  margin: 10px;
  padding: 20px;
  border: 1px solid;
  max-width: 100%;
  text-align: left;
}

/*-----------------------
  Media adjustments
  ----------------------- */
@media only screen and (max-width: 1200px) {
  table.dataTable thead tr th div.dt-column-header {
    display: block;
    overflow: clip;
  }
  table.dataTable tbody tr td {
    overflow: clip;
  }
}



