* {
    box-sizing: border-box;
    /*border: solid 1px red;*/
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1{
  text-align: center;
}

main {
  width: 95%;
  margin: auto;
}

table {
   
}

th {
    background-color: blue;
    color: white;
    text-align: center;
}
td {
  margin: 10px;
  padding: 20px;
  background-color: lightblue;
  border: 1px solid;
  max-width: 100%;
}

  td.nowrap {
    white-space: nowrap;
  }
